
.body{
    padding: 1rem 2rem;
}

.action {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: sticky;
    bottom: 2px;
  }
  .btn {
    background-color: blue;
    color: white;
    width: 50%;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem;
    border-radius: 12px;
  }