.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.item {
width: fit-content;
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  flex-direction: column;
  padding:  1rem;
  margin: 1rem;
  background: white;
  
}
.item img {
  width: 100%;
  height: auto;
}
.head{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body{
  background: white;
  padding: 1rem 0;
}
.action {
  display: flex;
}
.btn {
  background-color: blue;
  color: white;
  width: 50%;
  text-align: center;
  padding: 1rem 1.5rem;
  margin: 1rem 0.5rem;
  border-radius: 12px;
}

@media only screen and (max-width: 780px) {
 .container{
   grid-template-columns: auto;
 } 
}